# Python
venv/
__pycache__/
*.pyc

# Django
db.sqlite3
staticfiles/
media/

# Env
.env
.env.local
.env.prod
.env.development
.env.*.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# React/Vite
frontend/node_modules/
frontend/dist/
frontend/build/

# VSCode / IDE
.vscode/
.idea/